
.Admincontenedor{
    width: 580px;
    text-align: center;
    margin: 0px auto;
    padding: 150px 0px;
}

.img-notfound{
    display: block;
    text-align: center;
}

.titulo-AdminNotFound{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #ddd;
    font-weight: 500;
}

.texto-AdminNotFound{
    text-align: justify;
    font-size: 1.2rem;
    color: #888;
    font-weight: 350;
}

.boton-AdminInicio{
    width: 300px;
    padding: 10px 15px;
    display: block;
    margin: 10px auto;
    background:  #28A745;
    color:  white;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1rem;
    border: #28A745;

}

.boton-AdminVolver{
    width: 100px;
    padding: 10px 15px;
    display: block;
    margin: 5px auto;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    background:#28A745;
    font-size: 1rem;
    text-decoration: none;
    border: #28A745;
}

.boton-AdminInicio:hover,
.boton-AdminVolver:hover{
    background: #0f942e;
}

.boton-AdminInicio:focus,
.boton-AdminVolver:focus{
    outline: none;    
}