
/* .container{

} */

.section_carousel{
  margin-bottom: 30px;
  
}

.card-wrapper {
  width: 230px;
  /* cursor: pointer; */
  border: #bbb solid 1px;
  padding: 10px;
  margin: 10px;
  /* display: flex; */
}

.card__header {
  height: 210px;
  width: 100%;
  text-align: center;
}

.figure{
  height: 205px;
  width: 195px;
  margin: 0px;
  cursor: pointer;
}

.card__img {
  width: 100%;
  height: 200px;
  width: 190px;
  transition: all 0.5s ease;
}

.card__title {
  text-align: center;
  color: green;
  margin: 0px;
  font-size: 1.1rem;
}

.card__description {
  text-align: center;
  font-size: 0.8rem;
  color: #535353;
  line-height: 16px;
  color: var(--gray);
  font-weight: bold;
  margin: 0px;
  margin-top: 0.5rem;
  /* height: 0px; */
  /* overflow: hidden; */
  /* transition: all 0.5s ease; */
}


.delivery__express{
  width: 100%;
  text-align: center;
  height: 31px;
}

.delivery__button{
  border-radius: 10px;
  color: white;
  background: #DC0055;
  outline: none;
  width: 130px;
  border: 1px solid white;
  font-size: 0.7rem;
  margin: 0px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.delivery__button > i{
  color: #DC0055;
  background: white;
  border-radius: 50%;
  font-size: 0.9rem;
  padding: 3px; 
  margin-top: 3px;
}

.delivery__button:hover,
.delivery__button:focus{
  outline: none;
}

.card__footer {
  width: 100%;
  padding: 10px 0px;
}

.montos{
  width: 100%;

}

.precio__normal{
  margin: 10px 0px;
  padding: 0px;
  text-align: right;
  font-size: 0.8rem;
  color: #535353;
  text-decoration:line-through;
  /* color: red; */
}    

.importe{
  /* margin: 0px 0px; */
  padding: 0px 0px;
  text-align: left;
  font-weight: bold;
  font-size: 0.8rem;
  color: #535353;
  width: 90px;
  display: inline;
  margin-right: 30px;
} 



.precio__promocion{
  /* margin: 0px 0px; */
  /* padding: 0px; */
  text-align: right;
  font-weight: bold;
  font-size: 0.8rem;
  color: #535353;
  width: 100px;
  display: inline;
  margin-left: 60px;
}

.span__importe{
  width: 100px;
  text-align: left;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8rem;
  color: #535353;
  padding-right: 10px;
}


.span__promocion{
  /* text-align: right; */
  width: 100px;
  display: table;
  text-align: right;
  font-weight: bold;
  font-size: 1.1rem;
  color: #008000;
  float: right;
  /* display: inline; */
  
}

.unidad{
  text-align: center;
  width: 65px;
  font-size: 0.8rem;
  margin: 15px 0px 0px 10px;
  background: #ccc;
  font-weight: bold;
  color: #535353;
}

.cantidad_producto{
  width: 90px;
  display: inline-block;
  float: left;
  /* padding: opx; */
  /* height: 25px; */
}

.button__decremento{
  margin-top: 0px;
  padding: 0px;
  height: 25px;
  width: 25px;
  font-size: 1rem;
  font-weight: bold;
  /* line-height: 10px; */
  outline: none;
  color: white;
  background: green;
  border: 1px solid green;
  /* border-radius: 3px; */
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.button__decremento:focus{
  outline: none;
}

.button__incremento{
  /* margin-top: 10px; */
  padding: 0px;
  height: 25px;
  width: 25px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 20px;
  /* outline: none; */
  color: white;
  background: green;
  border: 1px solid green;
  /* border-radius: 3px; */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
}

.button__decremento:hover{
  opacity: 0.7;
}

.button__decremento:focus{
  outline: none;
}

.button__incremento:hover{
  opacity: 0.7;
}

.button__incremento:focus{
  outline: none;
}

.input__cantidad{
  /* margin-bottom: 5px; */
  padding: 0px 3px;
  height: 25px;
  width: 35px;
  font-size: 1rem;
  font-weight: bold;
  /* line-height: 10px; */
  outline: none;
  text-align: center;
  border-bottom: 4px solid green;
  /* border-right: none;
  border-left: none; */
  /* border-radius: 3px; */
  display: inline-block;
}

.agregar__producto{
  width: 100px;
  display: inline-block;
  float: right;
  /* margin-top: 0px; */
  margin-right: 10px;
}

.button__agregar{
  width: 110px;
  height: 25px;
  color: white;
  background: green;
  border-radius: 10px;
  outline: none;
  border: 1px green solid;
  font-size: 0.8rem;
  font-family: 'PT Sans Narrow', sans-serif;
  padding-right: 3px;
  /* line-height: 25px; */
  margin-top: 0px;
}

.button__agregar:hover{
  opacity: 0.7;
}

.button__agregar:focus{
  outline: none;
}

.button__agregar > i{
  font-size: 0.7rem;
  margin-left: 8px;
  
}

