@import url(./carousel.css);

main{
    padding: 0px;
    margin: 0px;
    display: table;
    width: 100%;
}

.texto-ofertas{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin: auto 0px;
    padding: 1.5rem 0px;
}
.ofertas{
    font-weight: bold;
    color: rgb(12,129,12);
}