
.contenedor{
    width: 580px;
    text-align: center;
    margin: 150px auto;
}

.img-notfound{
    display: block;
    text-align: center;
}

.titulo-notfound{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #444;
    font-weight: 500;
}

.texto-notfound{
    text-align: justify;
    font-size: 1.2rem;
    color: #666;
    font-weight: 350;
}

.boton-inicio{
    width: 300px;
    padding: 10px 15px;
    display: block;
    margin: 10px auto;
    background:  #28A745;
    color:  white;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1rem;
    border: #28A745;

}

.boton-volver{
    width: 100px;
    padding: 10px 15px;
    display: block;
    margin: 5px auto;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    background:#28A745;
    font-size: 1rem;
    text-decoration: none;
    border: #28A745;
}

.boton-inicio:hover,
.boton-volver:hover{
    background: #0f942e;
}

.boton-inicio:focus,
.boton-volver:focus{
    outline: none;    
}




