@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./notFound.css);
@import url(./AdminNotFound.css);
@import url(producto.css);



*{
margin:0;
box-sizing:border-box;
padding:0;
}

.wrapper{
    width: 100%;
    max-width: 1800px;
    min-width: 320px;
    margin: auto;
    overflow: hidden;
}

body{
    background-color: white;
    color: #444; 
    /* max-width: 1440px; */
    font-family: 'Poppins', 'Arial';
    font-weight: 300;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
}




